body {
  padding-top: 54px;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}
.modal { overflow: auto !important; }

.tooltip {
    z-index: 0 !important;
}

.life-desc {
	max-height: 284px;
	overflow: hidden;
}

.life-img-container {
	height: 300px;
}

.profile-img-container {
	height: 150px;
}

.ticket-bg-container {
	width: 300px;
	height: 450px;
	float: right;
	position: relative;
}

.ticket_blur {
	width: 300px;
	height: 450px;
	background-color:#b3b3b3;
	opacity: 0.8;
	position: relative;
}

.ticket-thum-container {
	width: 150px;
	height: 150px;
	background-color: white;
	top: 50px;
	right: 20px;
	position: absolute;
}

.feed-img-container {
	margin-top: 20px;
	margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

.sg-menu {
    height: 760px;
    overflow-y: auto; 
}

.sg-menu-item {
	height: 50px;
	line-height: 10px;
}

.sg-title {
	height: 80px;
}

.sg-body{
	height: 660px;
    overflow-y: auto;
}

.col-center {
	display: flex;
	align-items: center;
}

.imgtxt-img-container {
	max-width: 300px;
	min-width: 300px;
}

.card-event {
	min-width: 18rem;
}

.event-img-container {
	height: 250px;
}

.admin-user-img-container {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.aspect-fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fit-width {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.img-upload-btn {} 

.img-upload-btn input[type=file] {
	position: absolute; 
    top: 0; 
    left:0;
    right:0;
    bottom:0;
	width: 100%;
    text-align: right; 
    filter: alpha(opacity=1); 
    opacity: 0;  
    cursor: inherit; 
}

.img-upload-btn:hover {
	background: #DFDFDF; 
}

.center-child {
	min-height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.profile-lable {
	width:85px;
}

.profile-article-title {
	float:left;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
}

.editor-header {
	margin-top:-0.5em;
	margin-bottom:-0.5em;
}

.menu-block {
	width:1.5em;
	height:1em;
	float:left;
}

.one-line {
	float:left
}

.sg-menu-preview {
    height: 250px;
    overflow-y: auto;
}