body {
  padding-top: 54px;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

.top-buffer { margin-top:20px; }

.left-buffer { margin-left:20px; }

.life-desc {
	max-height: 284px;
	overflow: hidden;
}

.life-img-container {
	height: 300px;
}

.feed-img-container {
	margin-top: 20px;
	margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

.sg-menu {
    height: 760px;
    overflow-y: auto; 
}

.sg-menu-item {
	height: 50px;
	line-height: 10px;
	border-bottom:1pt solid #DFDFDF;
}

.sg-title {
	height: 80px;
}

.sg-body{
	height: 660px;
    overflow-y: auto;
}

.col-center {
	display: flex;
	align-items: center;
}

.imgtxt-img-container {
	max-width: 300px;
	min-width: 300px;
}



.card-body-bottom-line {
	border-bottom:1px solid #DFDFDF;
}

.card-event {
	min-width: 18rem;
}

.event-img-container {
	height: 250px;
}

.aspect-fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fit-width {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
