body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.top-buffer { margin-top:20px; }

.left-buffer { margin-left:20px; }

.feed-desc { 
	padding-top:20px;
	padding-right:20px;
	padding-bottom: 20px;
	padding-left: 20px;
	height: 284px;
	overflow: hidden;
}

.feed-image {
  max-height: 300px;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.feed-image img.tall {
  width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
  width: 100%;
}​

.image-container {
    max-width: 100%;
    max-height: 100%;
  display: flex;
  justify-content: center;
}



