body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.top-buffer { margin-top:20px; }

.left-buffer { margin-left:20px; }

.feed-desc { 
	padding-top:20px;
	padding-right:20px;
	padding-bottom: 20px;
	padding-left: 20px;
	height: 284px;
	overflow: hidden;
}

.feed-image {
  max-height: 300px;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.feed-image img.tall {
	width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
	width: 100%;
}​

.image-container {
    max-width: 100%;
    max-height: 100%;
	display: flex;
	justify-content: center;
}

.sg-menu {
    height: 760px;
    overflow-y: auto; 
    margin-bottom:20px;
    border-left:1px solid #DFDFDF;
}

.sg-menu-item {
	height: 50px;
	line-height: 10px;
	border-bottom:1pt solid #DFDFDF;
}

.sg-title {
	height: 80px;
}

.sg-body{
	height: 660px;
    overflow-y: auto;
}

.sg-itDiv {
	margin-left: auto;
  	margin-right: auto;
}

.sg-itImage {
	height: 150px;
	width: 150px;
	float: left;
}

.sg-itText {
	float: left;
}

